<!DOCTYPE html>
<html>
<head>
    <title>Flask Image App</title>
    <style>
        #mapContainer {
            position: relative;
        }
        .coordinateMarker {
            position: absolute;
            width: 5px;
            height: 5px;
            background-color: red;
            border-radius: 50%;
        }
    </style>
</head>
<body>
    <h1>ASCENT</h1>
    <div id="mapContainer">
        <div id="mapContainer">
            <img id="mapImage" src="{{ url_for('static', filename=image_path) }}" alt="Image">
            {% for coordinate in mini_map_coordinates %}
                <div class="coordinateMarker"></div>
            {% endfor %}
        </div>
    </div>
</body>
<script>
    // Get the map image element
    var mapImage = document.getElementById('mapImage');

    // Function to set the position of a coordinate marker
    function setPosition(marker, x, y) {
        //console.log("Setting position for marker:", marker, "x:", x, "y:", y);
        marker.style.left = x + 'px';
        marker.style.top = y + 'px';
    }

    // Wait for the map image to load
    mapImage.onload = function() {
        // Get the map image dimensions
        var mapWidth = mapImage.width;
        var mapHeight = mapImage.height;

        // Define the variables
        var x_Multiplier = {{ x_Multiplier }};
        var y_Multiplier = {{ y_Multiplier }};
        var x_ScalarToAdd = {{ x_ScalarToAdd }};
        var y_ScalarToAdd = {{ y_ScalarToAdd }};

        // Loop through each coordinate marker and set its position
        var markers = document.querySelectorAll('.coordinateMarker');
        markers.forEach(function(marker, index) {
            //console.log("Loop iteration:", index)
            var mini_map_coordinates = {{mini_map_coordinates, tojson}};
            var coordinate = mini_map_coordinates[index];
            var mini_x = coordinate.y * mapWidth;
            var mini_y = coordinate.x * mapHeight;
            setPosition(marker, mini_x, mini_y);
        });
    };
</script>
</html>