<!DOCTYPE html>
<html>
<head>
    <title>Flask Image App</title>
</head>
<body>
    <ol id="Maps">
        <li><a href="{{url_for('ascent')}}">Ascent</a></li>
        <li><a href="{{url_for('split')}}">Split</a></li>
        <li><a href="{{url_for('fracture')}}">Fracture</a></li>
        <li><a href="{{url_for('bind')}}">Bind</a></li>
        <li><a href="{{url_for('breeze')}}">Breeze</a></li>
        <li><a href="{{url_for('lotus')}}">Lotus</a></li>
        <li><a href="{{url_for('pearl')}}">Pearl</a></li>
        <li><a href="{{url_for('icebox')}}">Icebox</a></li>
        <li><a href="{{url_for('haven')}}">Haven</a></li>
    </ol>

</body>
</html>